<div class="si-cwl-mast-head-wrap" v-cloak>
    <div class="si-cwl-mast-head-title">
        <span>
            {{details.event_name}}
        </span>
    </div>
    <div class="si-cwl-mast-head-body">
        <div class="si-cwl-mast-head-match-status">
            <span>{{details.Status}}</span>
        </div>
        <div class="si-cwl-mast-head-scorecard-wrap">
            <div class="si-cwl-mast-head-scorecard-tbl">
                <div class="si-cwl-mast-head-scorecard-td tableCell">
                    <div class="socrecard-teamA-wrap" :class="[ details.result_sub_code ? homeTeam.highlight ? 'won-match' : '' : '' ]">
                        <div class="scorecard-team-name">
                            <span><img :src="homeTeamFlag" class="si-team-logo"></span>
                            <div class="team-name-box">
                                <div class="full-name"> {{homeTeam.name}} </div>
                                <div class="short-name"> {{homeTeam.short_name}} </div>
                            </div>
                        </div>
                        <div v-if="homeTeam.innings.length" class="score-container">
                            <div class="scorecard-innings-wrap" :class="[ details.result_sub_code ? '' : item.highlight ? 'scorecard-innings-current' : '' ]" v-for="item in homeTeam.innings">
                                <span>
                                {{item.runs}}{{ item.wickets ? '/' : '' }}{{ item.wickets }}
                                {{ item.isDeclared ? trans.declare : '' }}
                                {{ item.isFollowOn ? trans.followOn : '' }}
                                </span>
                                <span>({{ item.overs }} ov)</span>
                            </div>
                        </div>
                        <div v-else class="score-container">
                            <div class="scorecard-innings-wrap">
                                <span v-if="awayTeam.innings.length" class="ytb">{{ trans.yetToBat }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="si-cwl-mast-head-scorecard-td tableCell si-VsWrap">
                    <div class="si-vs-svg">
                        <svg class="si-svg-bg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 241.5 300" style="enable-background:new 0 0 241.5 300;" xml:space="preserve">
                            <path d="M241.4,43.8C168.9,31.7,167.1,31,120.3,0C85.5,28.4,44.2,39.9,0.1,43.4c0,30-0.2,59.2,0.1,88.5c0.3,29.7,7.6,57.8,21.5,84.1c21,39.7,52.2,67.9,94.5,83.4c2.7,1,6.2,0.8,9.1,0c4.6-1.3,9.1-3.1,13.4-5.2c56.3-27.9,89.2-73.6,99.7-134.9c3.5-20.3,2.6-41.5,3.1-62.3C241.8,79.3,241.4,61.7,241.4,43.8z"></path>
                        </svg>
                        <span class="si-vs-txt">vs</span>
                    </div>
                </div>
                <div class="si-cwl-mast-head-scorecard-td tableCell">
                    <div class="socrecard-teamB-wrap" :class="[ details.result_sub_code ? awayTeam.highlight ? 'won-match' : ''  : '' ]">
                        <div class="scorecard-team-name">
                            <span><img :src="awayTeamFlag" class="si-team-logo"></span>
                            <div class="team-name-box">
                                <div class="full-name">{{awayTeam.name}} </div>
                                <div class="short-name">{{awayTeam.short_name}} </div>
                            </div>
                        </div>
                        <div v-if="awayTeam.innings.length" class="score-container">
                            <div class="scorecard-innings-wrap" :class="[ details.result_sub_code ? '' : item.highlight ? 'scorecard-innings-current' : '']" v-for="item in awayTeam.innings">
                                <span>
                                    {{item.runs}}{{ item.wickets ? '/' : '' }}{{item.wickets}}
                                    {{ item.isDeclared ? trans.declare : '' }}
                                    {{ item.isFollowOn ? trans.followOn : '' }}
                                </span>
                                <span>({{item.overs}} ov)</span>
                            </div>
                        </div>
                        <div v-else class="score-container">
                            <div class="scorecard-innings-wrap">
                                <span v-if="homeTeam.innings.length" class="ytb">{{ trans.yetToBat }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="si-cwl-mast-head-match-result-wrap">
            <span>{{details.event_sub_status}}</span>
        </div>
        <div class="si-cwl-mast-head-match-venue-time">
            <span>{{matchDayName}}, {{matchDate}}<em>|</em>{{matchTime}} IST</span>
        </div>
    </div>
</div>